*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    display: flex;
}

.teste{
    position: absolute;
}

.img1{
    width: 100vw;
    height: 100%;
    
}

.iconeLogo{
    margin-left: 700px;
    margin-top: 10px;
}

.textoLogo{
    margin-top: -22px;
    margin-left: 730px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.botoes{
    margin-top:-10px;
}
.signin{
    color: white;
    border: none;
    width: 70px;
    background-color: transparent;
    margin-left: 1300px;
    margin-top: -25px;
}

.signup{
    color: black;
    border: none;
    border-radius: 15px;
    width: 70px;
    background-color: white;
    height: 30px;
}

.form{
    position: absolute;
    margin-left: 550px;
    margin-top: 80px;
    padding: 0px;
    width: 560px;
}

.textoform{
    font-size: 50px;
    color: rgb(128, 124, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    width: 350px;
    margin-left: 60px;
    height: 35px;
    border: none;
    border-radius: 15px;
    opacity: 0.7;
    margin-top: 30px;

}

input::placeholder{
    padding-left: 40px;
}

.signaddress{
    margin-left: 140px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.teste2{
    height: 70vh;
}

.imgcorpo{
    width: 120px;
    height: 100px;
}
.divmoto{
    width: 200px;
    height: 200px;
    margin-top: 130px;
    margin-left: 300px;
}

.divcasa{
    width: 200px;
    height: 200px;
    margin-top: -190px;
    margin-left: 700px;
}

.divtel{
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 1100px;
}

.titles{
    margin-left: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parag1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -10px;
}

.links{
    color: rgb(172, 19, 19);
    align-items: center;
}

.div4{
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 400px;
}

button{
    background-color: rgb(187, 22, 22);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 15px;
}

.div5{
    margin-left: 700px;
    margin-top: -260px;
}

.img2{
    width: 550px;
    height: 400px;
}

.bodypart2{
    height: 80vh;
    background-color: rgb(248, 222, 231);
    margin-top: -20px;
}

.div6{
    width: 300px;
    margin-left: 900px;
    position: relative;
    top: 30%;
}

.div7{
    margin-left: 300px;
    margin-top: -50px;
}